.navbar{
    background-color:whitesmoke;
    color: black !important;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.navbar-brand{
    text-decoration: none;
    font-size: 25px !important;
    color: black !important;
    font-weight:700;
    margin-left: 20px !important;
}
.navbar-link{
    text-decoration: none;
    color:black !important;
    font-size: 18px;
    margin: 0 30px;
}
.navbar-link:hover{
    background-color:gray;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.textWhite{
    color: white;
}
.navbar-links-container{
    margin-right: 50px;
}
@media screen and (max-width: 750px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .navbar-links-container{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .navbar-link{
        margin: 10px 0;
    }
    .navbar-link:hover{
        background-color:black;
        color:white;
        padding: 0;
        border-radius: 5px;
        transition: 0.3s;
    }
    
}
.navbar-logo{
    height: 30px;
    position:relative;
    top:5px;
    
}